[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/elijahnyp/esp32-wifi-manager.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "lib/secplus"]
	path = lib/secplus
	url = git@github.com:elijahnyp/secplus.git
[submodule "components/wangwood_bootstrap"]
	path = components/wangwood_bootstrap
	url = git@github.com:elijahnyp/wangwood_bootstrap.git
