[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/elijahnyp/esp32-wifi-manager.git
[submodule "lib/secplus"]
	path = lib/secplus
	url = https://github.com/elijahnyp/secplus.git
[submodule "components/wangwood_bootstrap"]
	path = components/wangwood_bootstrap
	url = https://github.com/elijahnyp/wangwood_bootstrap.git
